
form {
    margin-top: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea {
    padding: 10px;
    width: 100%;
    max-width: 300px; /* You can adjust this width as needed */
    margin-bottom: 20px; /* Increased margin for better spacing */
    border: 1px solid #ccc;
    border-radius: 5px;
}
.town-image {
    width: 100%; /* Responsive image */
    max-width: 600px; /* Limit max width */
    display: block;
    margin: 20px auto; /* Center the image */
    border-radius: 10px; /* Rounded corners */
}
button {
    padding: 10px 20px;
    background-color: #e2e5e7;
    color: rgb(0, 0, 0);
    border: 2px solid #9aa09e;
    border-radius: 50%;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #2980b9;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #2c3e50;
    color: #ffffff;
}